certifi==2025.8.3
charset-normalizer==3.4.3
comtypes==1.4.11
et_xmlfile==2.0.0
greenlet==3.3.0
idna==3.10
numpy==2.2.6
opencv-contrib-python==4.12.0.88
openpyxl==3.1.5
pandas==2.3.1
pillow==11.3.0
psycopg2-binary==2.9.11
pypiwin32==223
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pyttsx3==2.99
pytz==2025.2
pywin32==311
requests==2.32.5
six==1.17.0
SQLAlchemy==2.0.45
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
